<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{% static 'main/css/base.css' %}" type="text/css">


<title>Martha Resturant</title>
</head>
<body>
    {% include "main/navbar.html" %}

    <div class="container">
        {% for message in messages %}
        <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %} style="list-style: none; color:red;"> {{ message }} </li>
        <br/>
        {% endfor %}
        {% block content %}
          
        {% endblock content %}
    </div>
</body>
</html>