{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="home_landing">

    <h1>Desserts</h1>
    <div class="maindishes_cards">
        {% for dessert in desserts %}
          
        
        <div class="dessert">
            <img src="{{dessert.image.url}}" class="dessertimage">
            <center>
            <h1>{{dessert.name}} - Rs.{{dessert.price}}</h1>
            </center>
            <div class="left">
                <a href="{% url 'add_cart' food_type='dessert' food_id=dessert.id %}" style="text-decoration:none; color: black;">
                <div class="button">
                    <h4>Add to Cart</h4>
                </div></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}